.add{
  background-color: lightgreen;
  border: none;
  border-radius: 10px;
  padding: 5px 36px
}
.move{
  background-color: aliceblue;
  border: 2px solid black;
  padding: 5px 30px;
  border-radius: 7px;
  text-transform: capitalize;
}